.CheckoutSummary{
    text-align: center;
    width:80%;
    margin: auto;
    border-radius: 30px;
}
.burger{
display: flex;


}

@media (min-width:600px){
   .CheckoutSummary{
    width: 600px;
  
   }
}