
.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
   
.NavigationItem a {
        color: #e6d6c7;
        text-decoration:none;
        width: 100%;
        box-sizing: border-box;
        display: inline;
}



@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        box-sizing: border-box;
        display: flex;
        height: 100%;
        width: auto; 
        align-items: center;
    }
    .NavigationItem a {
        color: white;
        text-decoration: none;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;
        display: block;
    }
    .NavigationItem a:hover, .NavigationItem a:active {
        background-color: #9c5f2254;
        color: rgb(255, 255, 255);
        transition: all .5s ease-out;
    }
}

.NavigationItem a.active{
    background-color: transparent;
    border-bottom: 3px solid skyblue;

}
