.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
.InputElement {
    outline: none;
    border-radius: 9px;
    background-color: rgba(58, 55, 55, 0.253);
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: rgb(116, 122, 158)
}
.InputElement:focus {
    background-color:rgb(0, 0, 0);
    color: rgb(201, 198, 198);
    outline: none;
}

.Invalid {
    border: 1px solid rgb(146, 7, 30);

}